{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% load website_tags %}

{% block content %}
<div class="first-widget parallax" id="blog">
	<div class="parallax-overlay">
		<div class="container pageTitle">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<h2 class="page-title">Archives</h2>
				</div> <!-- /.col-md-6 -->
				<div class="col-md-6 col-sm-6 text-right">
					<span class="page-location">Home / Archives</span>
				</div> <!-- /.col-md-6 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</div> <!-- /.parallax-overlay -->
</div> <!-- /.pageTitle -->

<div class="container">
	<div class="row">

		<div class="col-md-8 blog-posts">
			<div class="row">
				<div class="col-md-12">
					<div class="archive-wrapper">
						<p>Feel free to download templates from templatemo.com website. Lorem ipsum dolor sit amet,
							consectetur adipisicing elit. Minima, excepturi ullam officia debitis blanditiis eos omnis
							asperiores eaque mollitia consequatur in aspernatur delectus ab accusantium itaque dolores
							alias provident veritatis repellendus culpa nemo vel accusamus!</p>
						{% archives_late10posts %}	
						
						<h3 class="archive-title">Archives by Month:</h3>
						<ul class="archive-list">
							<li><a href="#">January 2084</a></li>
							<li><a href="#">December 2083</a></li>
							<li><a href="#">November 2083</a></li>
							<li><a href="#">October 2083</a></li>
							<li><a href="#">September 2083</a></li>
							<li><a href="#">August 2083</a></li>
							<li><a href="#">July 2083</a></li>
						</ul>
						{% archives_by_categories %}

					</div>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.col-md-8 -->

		<div class="col-md-4">
			<div class="sidebar">
				{% recentposts 3 %}
				{% categories %}
				<div class="sidebar-widget">
					<h5 class="widget-title">Flickr Feed</h5>
					<ul id="flickr-feed" class="thumbs"></ul>
				</div> <!-- /.sidebar-widget -->
				<div class="sidebar-widget">
					<h5 class="widget-title">Text Widget</h5>
					<p class="light-text">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
						fermentum massa justo sit amet risus. Cum sociis natoque penatibus et magnis dis parturient…
					</p>
				</div> <!-- /.sidebar-widget -->
			</div> <!-- /.sidebar -->
		</div> <!-- /.col-md-4 -->

	</div> <!-- /.row -->
</div> <!-- /.container -->



<div class="container">

</div> <!-- /.container -->

{% endblock %}